@model IEnumerable<Juegos.Core.Juego>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Juego</title>
</head>
<body>
    <a asp-action="FormAlta">Alta Juego</a><br />
    <h5>Juego</h5>
    <table>
        <thead>
            <tr><td>Nombre</td></tr>
        </thead>
        <tbody>
            @foreach (Juegos.Core.Juego juego in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Juego" asp-action="Detalle" asp-route-id="@juego.Id">@juego.Nombre</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <a asp-controller="Genero" asp-action="Index">Generos</a>
</body>
</html>
